{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>National Park Tracker</title>
        <link rel="stylesheet" type="text/css" href="{% static 'parksApp/style.css' %}">
    </head>
    <body>
        <div class="cyan stuff-box">
            <h1>National Parks</h1>
            {% if parks_list %}
                {% for park in parks_list %}
                    <div class="blue stuff-box" id="{{ park.id }}">
                        <h2>{{ park.name }}</h2>
                        <p>{{ park.description }}</p>
                        <p><a href="{{park.link_to_website}}">More Information</a></p>
                        <h4>Directions Information:</h4>
                        <p>{{park.directionsInfo}}</p>
                        <p><a href="{{park.directionsURL}}">Directions Link</a></p>
                        <script>
                            document.getElementById("{{ park.id }}").addEventListener("click", event=>{window.location="{% url 'park' park.id%}"});
                        </script>
                    </div>
                    
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>