{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>National Park Tracker</title>
        <link rel="stylesheet" type="text/css" href="{% static 'parksApp/style.css' %}">
    </head>
    <body>
        <div class="blue stuff-box">
            <h1>{{ park.name }}</h1>
            <h2><a href="{% url 'parksApp:index' %}">Back Home</a></h2>
            <img src="{{park.image}}" width="500" height="500"/>
            <p>{{ park.description }}</p>
            <p><a href="{{park.link_to_website}}">Link to website</a></p>
            <h4>Directions Info</h4>
            <p>{{park.directionsInfo}}</p>
            <p><a href="{{park.directionsURL}}">Directions Link</a></p>
            <!--Marked button-->
            <form action="{% url 'parksApp:toggleMark' park.id %}" method="post">
                {% csrf_token %}
                <input type="submit" {%if park.marked is False%}class="white stuff-box" value="Bookmark"{%else%}class="green stuff-box" value="Unmark"{%endif%}>
            </form>
            <!--Visited Button-->
            <form action="{% url 'parksApp:toggleVisit' park.id %}" method="post">
                {% csrf_token %}
                <input type="submit" {%if park.visited is False%}class="white stuff-box" value="Mark As Visited"{%else%}class="green stuff-box" value="Unmark as Visited"{%endif%}>
            </form>
        </div>
        <div class="blue stuff-box">
            <!--Journal Entries div-->
            <form class="green stuff-box" action="{% url 'parksApp:addEntry' park.id%}" method="post">
                <h3>Make a New Journal Entry:</h3>
                {% csrf_token %}
                {%if error_message %}<p><strong>{{error_message}}</strong></p>
                {%endif%}
                <label for="date">Visitation Date:</label><br>
                <input type="date" id="date" name="date"><br>
                <label for="content"> Journal Entry Here:</label><br>
                <textarea cols="30" rows="10" id="content" name="content"></textarea><br>
                <input type="submit" value="Submit Entry" class="blue stuff-box">
            </form>
            {%if park.journalentry_set.count > 0 %}
                {% for entry in park.journalentry_set.all %}
                <div class="cyan stuff-box">
                    <h2>{{entry.visitation_date}}</h2>
                    <p>{{entry.content}}</p>
                    <form action="{% url 'parksApp:deleteEntry' entry.id%}" method="post">
                        <input type="submit" value="Delete Entry" class="red stuff-box">
                    </form>
                </div>
                {%endfor%}
            {%endif%}
        </div>
        
    </body>
</html>