{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>National Park Tracker</title>
        <link rel="stylesheet" type="text/css" href="{% static 'parksApp/style.css' %}">
    </head>
    <body>
        <div class="blue stuff-box">
            <h1>{{ park.name }}</h1>
            <h2><a href="../">Back Home</a></h2>
            <img src="{{park.image}}" width="500" height="500"/>
            <p>{{ park.description }}</p>
            <p><a href="{{park.link_to_website}}">Link to website</a></p>
            <h4>Directions Info</h4>
            <p>{{park.directionsInfo}}</p>
            <p><a href="{{park.directionsURL}}">Directions Link</a></p>
            <!--Marked Button
            <span {%if park.marked is False%}class="white stuff-box"{%else%}class="green stuff-box"{%endif%} id="mark">{% if park.marked == False %}Bookmark this park {% else %}Marked!{% endif %}</span>
            <script>document.getElementById("mark").addEventListener("click", event=>{});</script>
            -->
            <form action="{% url 'toggleMark' park.id %}" method="post">
                {% csrf_token %}
                <input type="submit" {%if park.marked is False%}class="white stuff-box" value="Bookmark"{%else%}class="green stuff-box" value="Unmark"{%endif%}>
            </form>
        </div>
        
    </body>
</html>